<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Welcome to CodeJava Home</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body class="bg-light d-flex justify-content-center">

<!--<div th:each="el: ${user}">-->

<!--<input type="text" th:value="${el.id}" name="title" ><br>-->
<!--</div>-->
<input type="text" th:value="${myid}" name="title" ><br>-->

<!--<span th:text="${#authentication.getPrincipal().getUsername()}"></span>-->

<div class=" bg-secondary  " style="min-height: 700px; min-width: 800px; ">
    <form th:action="@{/process_addText}" th:object="${text}" method="post" >

    <textarea style="width: 100%; margin-top: 100px;" name="text"placeholder="Write  your text here..." ></textarea>
    <button style="margin-right: 20px; float:right;" type="submit" class="btn btn-info">Add</button>

<!--        <div th:text="${#authentication.id} ></div>-->


</form>

</div>

</body>
</html>